/***********************************************************
                        	Mixin
************************************************************/

@mixin text($size, $color :null, $weight :null, $letter-spacing :null, $line-height :null) {
	font-size: $size;
	line-height: $line-height;
	font-weight: $weight;
	color: $color;
	letter-spacing: $letter-spacing;
}

@mixin background-content($icon, $size, $bg-position :null) {
	background-image: url('../img/#{$icon}');
	background-size: $size;
	background-position: $bg-position;
	content: '';
	z-index: 1;
	background-repeat: no-repeat;
}
@mixin bg-dimention-position($width, $height, $position, $top :null, $right :null, $bottom :null, $left :null) {
	position: $position;
	height: $height;
	width: $width;
	top: $top;
	right: $right;
	bottom: $bottom;
	left: $left;
}

@mixin page-shrink($x, $y, $z, $important :null) {
	transform: perspective(20em) translate3d($x, $y, $z);
	transition: all .5s ease$important;
	box-shadow: 0px 0px 102px 0px #9DC8FC;
}


/***********************************************************
                      Place Holders
************************************************************/


%buttonless {
	background-color: initial;
	border: none;
	padding: 0;
}



/***********************************************************
                      	  Colors
************************************************************/

$Silver                                     : #bbbbbb;
$white                                      : #ffffff;
$Gull-Gray                                  : #9CA5B7;
$Anakiwa                                    : #9DC8FC;
$White-Lilac                                : #F6F8FC;
$Boulder                                    : #777777;
$black										: #000000;
$East-Bay									: #495484;

/***********************************
           Colors-Function
************************************/


$color-nav-h1                               : $Gull-Gray;
$color-topic                                : $Anakiwa;
$color-wrap                                 : $White-Lilac;
$color-container                            : $white;
$color-profile                              : $Anakiwa;
$color-time                                 : $Silver;
$color-comment                              : $Boulder;
$color-footer-a                             : $Anakiwa;
$color-menu									: $East-Bay;
$color-topic-list							: $East-Bay;
$color-author-name							: $Anakiwa;





.site-navigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: none;

    .site-menu {

        .cross {
            width: 100%;
            height: 100%;
			margin: 1em 0 0 1em;

            button {
                @include background-content('overlay/cross.png', contain);
                @include bg-dimention-position(1.5em, 1.5em, relative $left: 0);
                @extend %buttonless;
                margin: 1em 0 0 1em;
                float: left;
            }
        }

        ul {
            list-style: none;
            margin: 0 0 0 3em;

            .item + .item {
                margin-top: 1em;
            }

            .item {
                @include bg-dimention-position(1em, 1em, relative);
                display: block;
				right: 1em;

                a {
                    @include text(1em, $color-menu, 400);
                    text-decoration: none;
                    opacity: 0.5;
                    padding-left: 3em;
                    display: inline-block;

                    &:hover {
                        opacity: 1;
                    }
                }

	            &.home {

	                a {
                        @include background-content('menu-icon/home.png', contain);
	                }
	            }

	            &.video {

	                a {
                        @include background-content('menu-icon/video.png', contain);
	                }
	            }

	            &.plaza {

	                a {
                        @include background-content('menu-icon/plaza.png', contain);
	                }
	            }

	            &.chat {

	                a {
                        @include background-content('menu-icon/chat.png', contain);
	                }
	            }

	            &.email {

	                a {
                        @include background-content('menu-icon/email.png', contain);
	                }
	            }
			}
        }
    }
}
