/***********************************************************
                        	Mixin
************************************************************/

@mixin text($size, $color :null, $text-align :null, $weight :null, $letter-spacing :null, $line-height :null) {
	font-size: $size;
	line-height: $line-height;
	font-weight: $weight;
	color: $color;
	text-align: $text-align;
	letter-spacing: $letter-spacing;
}

@mixin background-content($icon, $size, $position :null) {
	background-image: url('../img/#{$icon}')!important;
	background-size: $size;
	background-position: $position;
	content: '';
	z-index: 1;
	position: relative;
	background-repeat: no-repeat;
}

@mixin buttonless($width, $height) {
	border: none;
	background-color: transparent;
	width: $width;
	height: $height;
	padding: 0;
}




/***********************************************************
                      Place Holders
************************************************************/






/***********************************************************
                      	  Colors
************************************************************/

$Silver                                     : #bbbbbb;
$white                                      : #ffffff;
$Gull-Gray                                  : #9CA5B7;
$Anakiwa                                    : #9DC8FC;
$White-Lilac                                : #F6F8FC;
$Boulder                                    : #777777;


/***********************************
           Colors-Function
************************************/


$color-nav-h1                               : $Gull-Gray;
$color-topic                                : $Anakiwa;
$color-wrap                                 : $White-Lilac;
$color-container                            : $white;
$color-profile                              : $Anakiwa;
$color-time                                 : $Silver;
$color-comment                              : $Boulder;
$color-footer-a                             : $Anakiwa;
