/***********************************************************
                      	  Global
************************************************************/

@import "_extends.scss";

body {
    box-sizing: border-box;
    width: 100%;
    position: relative;

    .global {
        width: 100%;
        height: 100%;

        .wrapper {
            max-width: 800px;
            margin: 0 auto;

            .page {
            }
        }
    }
}


/***********************************************************
                      	  Header
************************************************************/


.nav-section{
    width: 100%;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 8px 4px -11px black;
   -moz-box-shadow: 0 8px 4px -11px black;
    box-shadow: 0 8px 4px -11px black;


    .nav-content {
        width: 94%;
        margin: 0 auto;
        position: relative;
        padding-top: 2em;
        max-width: 800px;

        .h1 {
            width: 100%;
            text-align: center;
            margin-bottom: 2em;

            h1 {
                margin: 0;
                color: $color-nav-h1;
                font-size: 1.5em;
                font-weight: 200;
                letter-spacing: 1px;
            }
        }

        .threeway {

            button {
                @include background-content('threeway.png', contain);
                position: absolute;
                border: none;
                background-color: initial;
                width: 1.75em;
                height: 1.75em;
                top: 2em;
                padding: 0;
            }
        }

        .pages {

            ul {
                list-style: none;
                list-style-position: inside;
                margin: 0;
                padding-bottom: 2.5em;

                .item {
                    float: left;
                    display: inline-block;
                    list-style-position: inside;

                    &:not(:last-child) {
                        width: 0px;
                    }

                    &:first-child {
                        margin-right: 25%;
                    }

                    &:nth-child(2) {
                        margin-left: -0.875em;
                    }

                    &:nth-child(3) {
                        margin: 0 25% 0 calc(25% - 0.875em);
                    }

                    &:nth-child(4) {
                        margin-left: -0.875em;
                    }

                    &:last-child {
                        float: right;
                        margin-top: 0.5em;
                    }

                    button {
                        opacity: 0.4;

                        &:hover {
                            opacity: 1!important;
                        }

                        &.favourites {
                            @include background-content('favourites.png', contain);
                            border: none;
                            background-color: initial;
                            width: 1.75em;
                            height: 1.75em;
                            top: 0;
                            padding: 0;
                        }

                        &.camera {
                            @include background-content('camera.png', contain);
                            border: none;
                            background-color: initial;
                            width: 1.75em;
                            height: 1.75em;
                            top: 0;
                            padding: 0;
                        }

                        &.search {
                            @include background-content('search.png', contain);
                            border: none;
                            background-color: initial;
                            width: 1.75em;
                            height: 1.75em;
                            top: 0;
                            padding: 0;
                        }

                        &.lounge {
                            @include background-content('lounge.png', contain);
                            border: none;
                            background-color: initial;
                            width: 1.75em;
                            height: 1.75em;
                            top: 0;
                            padding: 0;
                        }
                    }

                    .topic {
                        color: $color-topic;
                        text-decoration: none;
                        font-weight: 500;
                        font-size: 1.5em;
                    }
                }
            }
        }
    }
}


/***********************************************************
                      	  Content
************************************************************/

.middle-section {
    background-color: $color-wrap;
    padding: 1em 0;

    @media screen and (min-width: 400px) {
        padding: 2em 0;
    }

    @media screen and (min-width: 800px) {
        padding: 4em 0;
    }

    .wrap {
        width: 90%;
        margin: 0 auto;

        .container {
            background-color: $color-container;
            border-radius: 5px 5px 0 0;
            padding-bottom: 1em;
            box-shadow: 0px 0px 10px -6px black;
            border: 0px solid white;
            margin: 0 auto 1em;

            @media screen and (min-width: 400px) {
                margin-bottom: 2em;
            }

            @media screen and (min-width: 800px) {
                margin-bottom: 4em;
            }

            .picture {
                border-radius: 5px 5px 0 0;
                width: 100%;
                height: 90vw;
                max-height: 720px;

                .img {

                }
            }

            .food1 {
                @include background-content('food1.jpeg', cover, center);
            }

            .food2 {
                @include background-content('food2.jpeg', cover, center);
            }

            .drink1 {
                @include background-content('drink1.jpeg', cover, center);
            }

            .drink2 {
                @include background-content('drink2.jpeg', cover, center);
            }

            .treat1 {
                @include background-content('treat1.jpeg', cover, center);
            }

            .treat2 {
                @include background-content('treat2.jpeg', cover, center);
            }

            .tool1 {
                @include background-content('tool1.jpeg', cover, center);
            }

            .tool2 {
                @include background-content('tool2.jpg', cover, center);
            }

            .room1 {
                @include background-content('room1.jpeg', cover, center);
            }

            .room2 {
                @include background-content('room2.jpeg', cover, center);
            }

            .content {
                width: 90%;
                margin: 0 auto;

                .header-content {

                    .profile {
                        display: inline-block;

                        a {
                            font-size: 0.9em;
                            font-weight: 100;
                            color: $color-profile;
                            position: relative;
                            padding: 0.75em 0 0 3em;
                            display: inline-block;
                            text-decoration: none;
                            margin-top: 1em;
                        }
                    }

                    .profile1 {
                        display: inline-block;

                        a {
                            &::before {
                                @include background-content('profile.jpg', cover);
                                border-radius: 100%;
                                width: 2.5em;
                                height: 2.5em;
                                top: 0;
                                left: 0;
                                position: absolute;
                            }
                        }
                    }

                    .profile2 {
                        display: inline-block;

                        a {
                            &::before {
                                @include background-content('profile2.jpg', cover);
                                border-radius: 100%;
                                width: 2.5em;
                                height: 2.5em;
                                top: 0;
                                left: 0;
                                position: absolute;
                                background-position: -13px 0;
                            }
                        }
                    }

                    .time-post {
                        display: inline-block;
                        float: right;
                        padding-top: 0.75em;

                        p {
                            font-size: 0.9em;
                            font-weight: 100;
                            color: $color-time;
                        }
                    }
                }

                .section-content {

                    .comment {

                        p {
                            font-size: 0.9em;
                            font-weight: 100;
                            color: $color-comment;
                            margin: 2em 0;
                            letter-spacing: 0.5px;
                            line-height: 1.75em;
                        }
                    }
                }

                .footer-content {

                    .item {
                        display: inline-block;
                        float: left;
                    }

                    a {
                        text-decoration: none;
                        font-size: 0.8em;
                        color: $color-footer-a;
                        opacity: 0.6;
                        position: relative;
                        padding-left: 1.5em;

                        &:hover {
                            opacity: 1!important;
                        }
                    }

                    .likes {
                        margin-right: 2.5em;

                        a {

                            &:before {
                                @include background-content('thumbs.png',contain);
                                width: 1em;
                                height: 1em;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }
                    }

                    .add-comment {

                        a {

                            &:before {
                                @include background-content('bubble.png',contain);
                                width: 1em;
                                height: 1em;
                                position: absolute;
                                top: 0;
                                left: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}


//////////// Clear Fix //////////////
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
//////////// Clear Fix //////////////


//////////////Overlay //////////////

.overlay {
    background-color: rgba(255, 255, 255, 0.65);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: '';
    z-index: 3;
}

/***********************************************************
                      	Menu-Overlay
************************************************************/

.page {
    transform: perspective(20em) translate3d(0em, 0em, 0em);
    transition: all .5s ease;
    position: relative;
}

.pre-page-menu {
    position: fixed;
    max-width: 800px;

    .page {
        transform: perspective(20em) translate3d(14em, -9em, -7em);
        transition: all .5s ease!important;
        position: relative;
        box-shadow: 0px 0px 102px 0px #9DC8FC;
    }
}

.pre-page-topic {
    position: fixed;
    max-width: 800px;

    .page {
        transform: perspective(20em) translate3d(-14em, -9em, -7em);
        transition: all .5s ease!important;
        position: relative;
        box-shadow: 0px 0px 102px 0px #9DC8FC;
    }
}

.topic-list {
    position: relative;
    z-index: 4;
    display: none;
    float: right;;

    .topic-content {

        .cross {
            width: 100%;
            height: 100%;
            position: relative;


            button {
                @include background-content('cross.png', contain);
                width: 1.5em;
                height: 1.5em;
                background-color: initial;
                border: initial;
                margin: 1em 1em 0 0;
                right: 0;
                float: right;
            }
        }

        .topic-container {
            margin-right: 5em;
            text-align: right;

             h2 {
                 margin: 0;
                 font-size: 1.5em;
                 font-weight: 400;
                 display: inline-block;
                 margin-top: 3.5em;
                 color: $color-topic-list;
             }

             ul {
                 list-style: none;
                 text-align: right;

                 .item + .item {
                     margin-top: 1em;
                 }

                 .item {
                     display: block;

                     a {
                         display: inline-block;
                         text-decoration: none;
                         color: $color-topic-list;
                         font-size: 1em;
                         font-weight: 400;
                         opacity: 0.5;
                         display: inline-block;

                         &:hover {
                             opacity: 1;
                         }
                    }
                }
            }
        }
    }
}

.menu {
    position: absolute;
    z-index: 4;
    display: none;

    .menu-content {

        .cross {
            width: 100%;
            height: 100%;
            position: relative;

            button {
                @include background-content('cross.png', contain);
                width: 1.5em;
                height: 1.5em;
                background-color: initial;
                border: initial;
                margin: 1em 0 0 1em;
            }
        }

        ul {
            list-style: none;
            margin: 3em 0 0 3em;
            width: 50%;
            float: left;

            .item + .item {
                margin-top: 1em;
            }

            .item {
                display: block;

                a {
                    text-decoration: none;
                    color: $color-menu;
                    font-size: 1em;
                    font-weight: 400;
                    opacity: 0.5;
                    padding-left: 3em;
                    display: inline-block;
                    position: relative;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .home {

                a {

                    &::before {
                        @include background-content('home.png', contain);
                        height: 1em;
                        width: 1em;
                        top: -1px;
                        left: 0;
                        position: absolute;
                    }
                }
            }

            .video {

                a {

                    &::before {
                        @include background-content('video.png', contain);
                        height: 1em;
                        width: 1em;
                        top: 0px;
                        left: 0;
                        position: absolute;
                    }
                }
            }

            .plaza {

                a {

                    &::before {
                        @include background-content('plaza.png', contain);
                        height: 1em;
                        width: 1em;
                        top: 1px;
                        left: 0;
                        position: absolute;
                    }
                }
            }

            .chat {

                a {

                    &::before {
                        @include background-content('chat.png', contain);
                        height: 1em;
                        width: 1em;
                        top: 0px;
                        left: 0;
                        position: absolute;
                    }
                }
            }

            .email {

                a {

                    &::before {
                        @include background-content('email.png', contain);
                        height: 1em;
                        width: 1em;
                        top: -1px;
                        left: 0;
                        position: absolute;
                    }
                }
            }
        }
    }
}

.display {
    display: block;
    position: absolute;
}

.selected {
    opacity: 1!important;
}
