/***********************************************************
                      	  Global
************************************************************/


@import "_extends.scss";

body {
    box-sizing: border-box;
    width: 100%;
    position: relative;

    .global {
        width: 100%;
        height: 100%;

        .wrapper {
            max-width: 800px;
            margin: 0 auto;
            display: none;
            position: relative;
        }
    }
}

.page-content {
    @include page-shrink(0, 0, 0);
    box-shadow: none;
    width: 100%;
}


/***********************************************************
                      	  Header
************************************************************/


.nav-section{
    width: 100%;
    position: relative;
    z-index: 2;
    -webkit-box-shadow: 0 8px 4px -11px black;
   -moz-box-shadow: 0 8px 4px -11px black;
    box-shadow: 0 8px 4px -11px black;


    .nav-content {
        width: 94%;
        margin: 0 auto;
        position: relative;
        padding-top: 2em;
        max-width: 800px;

        .site-title {
            width: 100%;
            text-align: center;
            margin-bottom: 2em;

            h1 {
                @include text(1.5em, $color-nav-h1, 200, 1px);
                margin: 0;
            }
        }

        .threeway {

            button {
                @include background-content('overlay/threeway.png', contain);
                @include bg-dimention-position(1.75em, 1.75em, absolute, 2em, $left: 0);
                @extend %buttonless;
            }
        }

        .search-icon {

            .search {
                @include bg-dimention-position(1.75em, 1.75em, absolute, 2em, 0);
                @include background-content('navigation-icon/search.png', contain);
                @extend %buttonless;
            }
        }

        .page-navigation {

            ul {
                list-style: none;
                list-style-position: inside;
                margin: 0 auto;;
                padding-bottom: 2.5em;
                max-width: 20em;

                .item {
                    float: left;
                    display: inline-block;
                    list-style-position: inside;

                    &:not(:last-child) {
                        width: 0px;
                    }

                    &:nth-child(1) {
                        margin-right: 0.3333em;
                    }

                    &:nth-child(2) {
                        margin: 0 calc(16.6665% + 0.3333em) 0 calc(33.3332% - 0.875em);
                    }

                    &:nth-child(3) {
                        margin: 0 calc(33.3332% - 1em + 0.3333em) 0 calc(16.6665% - 0.875em);
                    }

                    button {
                        @include bg-dimention-position(1.75em, 1.75em, relative, 0);
                        @extend %buttonless;
                        opacity: 0.4;

                        &:hover {
                            opacity: 1!important;
                        }

                        &.favourites {
                            @include background-content('navigation-icon/favourites.png', contain);
                            top: -1px;
                        }

                        &.camera {
                            @include background-content('navigation-icon/camera.png', contain);
                        }

                        &.lounge {
                            @include background-content('navigation-icon/lounge.png', contain);
                            top: -2px;
                        }

                        &.food-selected {
                            @include background-content('topic-icon/food-selected.png',contain);
                        }

                        &.drink-selected {
                            @include background-content('topic-icon/drink-selected.png',contain);
                        }

                        &.treat-selected {
                            @include background-content('topic-icon/treat-selected.png',contain);
                        }

                        &.tool-selected {
                            @include background-content('topic-icon/tool-selected.png',contain);
                        }

                        &.room-selected {
                            @include background-content('topic-icon/room-selected.png',contain);
                        }
                    }
                }
            }
        }
    }
}


/***********************************************************
                      	  Content
************************************************************/

.content-section {
    background-color: $color-wrap;
    padding: 1em 0;

    @media screen and (min-width: 400px) {
        padding: 2em 0;
    }

    @media screen and (min-width: 800px) {
        padding: 4em 0;
    }

    .wrap {
        width: 90%;
        margin: 0 auto;

        .container {
            background-color: $color-container;
            border-radius: 5px 5px 0 0;
            padding-bottom: 1em;
            box-shadow: 0px 0px 10px -6px black;
            border: 0px solid white;
            margin: 0 auto 1em;

            @media screen and (min-width: 400px) {
                margin-bottom: 2em;
            }

            @media screen and (min-width: 800px) {
                margin-bottom: 4em;
            }

            .picture {
                @include bg-dimention-position(100%, 90vw, relative);
                border-radius: 5px 5px 0 0;
                max-height: 720px;

                .img {

                    img {
                        opacity: 0;
                        width: 0;
                        height: 0;
                    }
                }

                &.food1 {
                    @include background-content('post-image/food1.jpeg', cover, center);
                }

                &.food2 {
                    @include background-content('post-image/food2.jpeg', cover, center);
                }

                &.drink1 {
                    @include background-content('post-image/drink1.jpeg', cover, center);
                }

                &.drink2 {
                    @include background-content('post-image/drink2.jpeg', cover, center);
                }

                &.treat1 {
                    @include background-content('post-image/treat1.jpeg', cover, center);
                }

                &.treat2 {
                    @include background-content('post-image/treat2.jpeg', cover, center);
                }

                &.tool1 {
                    @include background-content('post-image/tool1.jpeg', cover, center);
                }

                &.tool2 {
                    @include background-content('post-image/tool2.jpg', cover, center);
                }

                &.room1 {
                    @include background-content('post-image/room1.jpeg', cover, center);
                }

                &.room2 {
                    @include background-content('post-image/room2.jpeg', cover, center);
                }
            }

            .content {
                width: 90%;
                margin: 0 auto;

                .post-header {

                    .post-author {
                        display: inline-block;

                        .link-to-profile-page {
                            text-decoration: none;
                            position: relative;
                            top: 0;

                            .author-name {
                                @include text(0.9em, $color-author-name, 100);
                                display: inline-block;
                                margin: 0;
                                padding-left: 0.25em;
                            }

                            .author-avatar {
                                display: inline-block;
                                height: 3em;
                                width: 3em;
                                border-radius: 50%;
                                object-fit: cover;
                                position: relative;
                                top: 1.2em;

                                &.author-avatar-1 {

                                }

                                &.author-avatar-2 {
                                    object-position: -17px 0px;
                                }
                            }
                        }
                    }

                    .post-timestamp {
                        display: inline-block;
                        float: right;
                        padding-top: 1.3em;

                        p {
                            @include text(0.9em, $color-time, 100);
                        }
                    }
                }

                .post-comment {

                    .comment {

                        p {
                            @include text(0.9em, $color-comment, 100, 0.5px, 1.75em);
                            margin: 2em 0;
                        }
                    }
                }

                .post-footer {

                    .item {
                        display: inline-block;
                        float: left;
                    }

                    a {
                        @include text(0.9em, $color-footer-a);
                        text-decoration: none;
                        opacity: 0.6;
                        position: relative;
                        padding-left: 1.5em;

                        &:hover {
                            opacity: 1!important;
                        }
                    }

                    .post-likes {
                        margin-right: 2.5em;

                        a {

                            &:before {
                                @include background-content('post-footer/thumbs.png',contain);
                                @include bg-dimention-position(0.9em, 0.9em, absolute, 0, $left: 0);
                            }
                        }
                    }

                    .post-comments {

                        a {

                            &:before {
                                @include background-content('post-footer/bubble.png',contain);
                                @include bg-dimention-position(0.9em, 0.9em, absolute, 0, $left: 0);
                            }
                        }
                    }
                }
            }
        }
    }
}


//////////// Clear Fix //////////////
.clearfix::after {
    content: '';
    clear: both;
    display: table;
}
//////////// Clear Fix //////////////



/***********************************************************
                      	 Overlay
************************************************************/


.overlay {
    background-color: rgba(255, 255, 255, 0.65);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    content: '';
    z-index: 3;
}


/****************************
	    Menu-Overlay
****************************/


.site-navigation {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    display: none;

    .site-menu {
        position: relative;
        margin: 1em 0 0 1em;

        .cross {
            width: 100%;
            height: 100%;
            position: relative;

            button {
                @include background-content('overlay/cross.png', contain);
                @include bg-dimention-position(1.5em, 1.5em, relative);
                @extend %buttonless;
                margin: 1em 0 0 1em;
            }
        }

        ul {
            list-style: none;
            margin: 3em 0 0 3em;

            .item + .item {
                margin-top: 1em;
            }

            .item {
                display: block;

                a {
                    @include text(1em, $color-menu, 400);
                    text-decoration: none;
                    opacity: 0.5;
                    padding-left: 3em;
                    display: inline-block;
                    position: relative;

                    &:hover {
                        opacity: 1;
                    }
                }
            }

            .home {

                a {

                    &::before {
                        @include background-content('menu-icon/home.png', contain);
                        @include bg-dimention-position(1em, 1em, absolute, -1px, $left: 0);
                    }
                }
            }

            .video {

                a {

                    &::before {
                        @include background-content('menu-icon/video.png', contain);
                        @include bg-dimention-position(1em, 1em, absolute, 0, $left: 0);
                    }
                }
            }

            .plaza {

                a {

                    &::before {
                        @include background-content('menu-icon/plaza.png', contain);
                        @include bg-dimention-position(1em, 1em, absolute, 1px, $left: 0);
                    }
                }
            }

            .chat {

                a {

                    &::before {
                        @include background-content('menu-icon/chat.png', contain);
                        @include bg-dimention-position(1em, 1em, absolute, 0, $left: 0);
                    }
                }
            }

            .email {

                a {

                    &::before {
                        @include background-content('menu-icon/email.png', contain);
                        @include bg-dimention-position(1em, 1em, absolute, -1px, $left: 0);
                    }
                }
            }
        }
    }
}

.page-wrap-menu {
    position: fixed;
    max-width: 800px;
    width: 100%;

    .page-content {
        @include page-shrink(14em, -6em, -7em, !important);
    }
}


/****************************
	    Topic-Overlay
****************************/


.topic-list {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 4;
    display: none;

    .topic-content {

        .cross {
            width: 100%;
            height: 100%;
            margin: 1em 1em 0 0;

            button {
                @include background-content('overlay/cross.png', contain);
                @include bg-dimention-position(1.5em, 1.5em, relative, $right: 0);
                @extend %buttonless;
                margin: 1em 1em 0 0;
                float: right;
            }
        }

        .topic-navigation {
            margin-right: 5em;

            h2 {
                @include text(1.5em, $color-topic-list, 400);
                margin: 0;
                display: inline-block;
                margin-top: 3.5em;
            }

            ul {
                list-style: none;
                margin: 1.5em 0 0;

                .item + .item {
                    margin-top: 1em;
                }

                .item {
                    @include bg-dimention-position(1em, 1em, relative);
                    display: block;
                    position: relative;
                    right: 1em;

                    a {
                        @include text(1em, $color-topic-list, 400);
                        display: inline-block;
                        text-decoration: none;
                        opacity: 0.5;
                        display: inline-block;
                        padding-left: 2em;

                        &:hover {
                            opacity: 1;
                        }
                    }

                    &.food {

                        a {
                            @include background-content('topic-icon/topic-food.png',contain);
                        }
                    }

                    &.drink {

                        a {
                            @include background-content('topic-icon/topic-drink.png',contain);
                        }
                    }

                    &.treat {

                        a {
                            @include background-content('topic-icon/topic-treat.png',contain);
                        }
                    }

                    &.tool {

                        a {
                            @include background-content('topic-icon/topic-tool.png',contain);
                        }
                    }

                    &.room {

                        a {
                            @include background-content('topic-icon/topic-room.png',contain);
                        }
                    }
                }
            }
        }
    }
}

.page-wrap-topic {
    position: fixed;
    max-width: 800px;
    width: 100%;

    .page-content {
        @include page-shrink(-14em, -6em, -7em, !important);
    }
}

.selected {
    opacity: 1!important;
}

/****************************
	        Hack
****************************/

#outline {
	content: '';
	position: absolute;

	&:focus {
		outline: none;
	}
};

.outline-hover {
    &:hover {
        outline: none!important;
    }
}
